:root {
    --burntorange: rgba(195, 82, 20);
    --backgroundblack: rgb(21, 21, 21);
    --projectorange: rgba(250, 147, 110, 0.8);
}

/***************************************************************************************
 Typography 
 ***************************************************************************************/

/* General Typography */

/* color rgba(195, 82, 20) */
h1,
h2,
h3,
h4,
h5 {
    font-family: "Cormorant", serif;
    color: white;
}

p,
ul,
li,
th, 
td, 
label,
.dt-input {
    color: white;
    font-family: "Open Sans", sans-serif;
}

/* Individual Styles */
h1 {
    font-size: 75px;
    margin: 0;
}

h2 {
    font-size: 45px;
    margin: 0;
}



h4 {
    font-size: 40px;
    margin-bottom: 5px;
}

li {
    font-size: 18px;

}

ul a {
    text-decoration: none;
}

ul a li {
    color: white;
    font-family: "Cormorant", serif;
    font-size: 25px;
}

ul a:hover li {
    color: orangered;
}

p {
    line-height: 1.5rem;
    font-size: 18px;
}

.name {
    font-size: 20px;
    display: flex;
    flex-flow: row;
}

/* Span Classes */
.lastname {
    color: orangered;
}

.title {
    color: wheat;
    margin-top: 15px;
    font-size: 40px;
}

.button {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: var(--burntorange);
    font-size: 22px;
    text-align: center;
    border: none;

    border: var(--burntorange) 2px solid;
}

.hi {
    line-height: 3rem;
    font-size: 30px;
    color: wheat;
    margin: 0px;
    /* Add in a media query to adjust the width of this to be 40% */
    width: 55%;
}

.hello {
    display: flex;
    flex-flow: column wrap;

    gap: 0;
}

.project {
    color: var(--projectorange);
    font-size: 20px;
    margin-top: 105px;
    padding-bottom: 10px;
    border-bottom: wheat 1px solid;

}

/**************************************************************************************
 Section Styles 
 *****************************************************************************************/
body {
    background-color: rgb(21, 21, 21);
    margin: 30px;
    position: relative;
}

main {
    /* make the width 730px, center on the page */
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    gap: 3rem;
}

nav {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 85px;
    z-index: 1000;
    border-bottom: rgba(128, 128, 128, 0.759) ridge 2px;
    position: fixed;
    top: 0;
    background-color: rgba(21, 21, 21, 0.84);
}

nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    padding-right: 25px;
}

.contentdiv {
    display: flex;
    /* flex-flow: wrap; */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.txtSection {
    width: 55%;
    padding: 45px;
    /* background-color: black; */
}


.resume {
    height: 900px;
    width: 900px;
    margin: 0 auto;
    margin-top: 10%;
}

.dataTables{
    width: 900px;
    margin: 0 auto;
    margin-top: 10%;
}

.introduction {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 0rem;
    margin: 50px;
    height: 600px;
}

section {

    display: flex;
    gap: 3rem;
    flex-flow: column;
}

.projects {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.description {
    width: 60%;
}

/* IDs */
#name {
    display: flex;
    flex-flow: row;
    align-self: flex-end;
}

#work {
    margin-top: 75px;
    background-color: black;
    padding: 15px 35px 35px 35px;
}

/**************************************************************************************
 Images 
 **************************************************************************************/

.selfportrait {
    height: 350px;
    width: 350px;
    margin-right: 30px;
}

/* Animations */

/* Sweep To Top  from https://github.com/IanLunn/Hover/blob/master/css/hover.css*/
.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--burntorange);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:active {
    color: white;
}

.hvr-sweep-to-top:hover:before,
.hvr-sweep-to-top:focus:before,
.hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/* Text rotations on last name  by Luke Embry https://alvarotrigo.com/blog/css-text-animations/*/
.waviy {
    position: relative;
}

.waviy span {
    position: relative;
    display: inline-block;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}

/* Media Queries */

@media screen and (max-width: 765px) {

    /* Fonts */
    h1 {
        font-size: 45px;
    }


    /* Sections */
    main {
        max-width: fit-content;

    }

    .hi {
        width: 100%;
        font-size: 25px;
    }

    .name {
        flex-flow: column;
        align-items: center;
    }

    .contentdiv {
        flex-flow: column-reverse;
        justify-content: center;
    }

    .introduction {
        margin: 0;
    }

    .txtSection {
        width: 100%;
    }

    .projects {
        flex-flow: column;
        align-items: flex-start;
    }

    .description {
        width: 100%;
    }

    .resume {
        width: 100%;
    }

    .selfportrait {
        height: 300px;
        width: 300px;
        margin: 0;
    }
}