:root {
    --lightgray: rgb(245, 245, 245);
    --blue: #398ecd;
    --blue-active: rgb(23, 122, 188);
    --dark-blue: #075081;
}

/***************************************************************************************
 Typography 
 ***************************************************************************************/

/* General Typography */

/* color rgba(195, 82, 20) */
h1,
h2,
h3,
h4,
h5 {
    font-family: "Inter", sans-serif;
}

p,
a,
ul,
li,
th,
td,
label,
.dt-input {
    font-family: "Inter", sans-serif;
}

nav ul a li p {
    font-family: "Inter", sans-serif;
}

/* Individual Styles */
h1 {
    font-size: 25px;
    margin: 0;
}

h2 {
    font-size: 20px;
    margin: 0;
}

h4 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    /* color: var(--blue); */
}

li {
    font-size: 18px;
}

ul {
    list-style-type: none;
}

ul a {
    text-decoration: none;
}

ul a li p {
    font-family: "Cormorant", serif;
    font-size: 12px;
    color: black;
}

p {
    line-height: 1.5rem;
    font-size: 15px;
    margin: 0;
    line-height: 1.5em;
}

nav ul li p {
    color: #075081;
    font-weight: bold;
}

.availableCardDiv p {
    font-size: 12px;
}

.status-message {
    font-size: 12px;
}

.logo p {
    margin-bottom: 0;
    font-size: 26px;
    color: white;
}

.thinText {
    font-weight: normal;
}

.reminderBadge a {
    text-decoration: none;
    color: white;
}

.relation {
    font-size: 15px;
    color: gray;
}

.card-title {
    margin-bottom: 0;
    color: var(--blue);
}

.card-small-text {
    font-size: 12px;
}

/* Shapes */
.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

.unavailable {
    background-color: #de061a;
}

.available {
    background-color: #4fb443;
}

.unknown {
    background-color: gray;
}

/* Family Colors */
.sarah {
    border-left: 4px solid #35C1AA;
}

.mom {
    border-left: 4px solid #A80051;
}

.dad {
    border-left: 4px solid #E5D207
}

.alice {
    border-left: 4px solid #FF9800;
}

/* Buttons */

.btn-primary {
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
}

.btn-primary:hover {
    background-color: var(--blue);
    border-color: var(--blue);
}

/**************************************************************************************
 Section Styles 
 *****************************************************************************************/

main {
    margin: 7rem 0;
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    gap: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--blue);
}

nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.addNew {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.accountDiv {
    text-align: right;
    width: 120px;
}

.accountDiv p {
    margin: 0;
    color: white;
}

nav {
    background-color: var(--blue);
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    padding-top: 8px;
}

.activeNav {
    /* background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px; */
    font-weight: bold;
    color: white;
}

/* Media Query Section Styles */
@media screen and (width >=768px) {
    .phonescreen {
        max-width: 400px;
        margin: 1rem auto;
        overflow: hidden;
        border: black solid 3px;
        position: relative;
        border-radius: 1rem;
    }

    .fixed-bottom {
        position: absolute;
        right: auto;
        left: auto;
        width: 394.44px;
    }

    .fixed-top {
        position: absolute;
        right: auto;
        left: auto;
        width: 394.44px;
    }

}

/* FAMILY PAGE */

.addNewCard {
    display: flex;
    align-items: center;
    margin: 3.3rem;
}

.familyCardContainer {
    display: flex;
    gap: 1rem;
}

.card {
    border: none;
    background-color: var(--lightgray);
    flex: 1 0 150px;
}

.card-body {
    border-bottom: solid lightgray 1px;
    margin: 0px 5px;
    padding: .5rem .5rem;
}

.card-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 8px;
}

.card-icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.card-me {
    flex-flow: row;
}

.card-me .card-body {
    border-bottom: none;
}

.card-body-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.cardMeContent {
    padding: 1rem;
}

.status-unfocused {
    background-color: var(--lightgray);
}

.editProfile {
    display: flex;
    gap: 5px;
    justify-content: end;
    padding: 10px;
}

.homepage_ToDo {
    background-color: rgb(222, 222, 222);
}

/* MODAL STYLES */
.familyModalSection_cols_1 {
    border-bottom: gray solid 1px;
    padding-bottom: .5rem;
    width: 100%;
}

.familyModalSection_cols_2 {
    display: flex;
    justify-content: space-between;
    border-bottom: gray solid 1px;
    padding-bottom: .5rem;
    width: 100%;
}

.availableDiv {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.availableCardDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: .5rem;
}

.availableCardDivMe {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
}

.scheduleDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.familyCardModalProfilePicDiv {
    display: flex;
    justify-content: space-around;
}

#map {
    height: 180px;
}

/* Map Page */
.mapPerson {
    padding-left: 10px;
    margin-bottom: 1rem;
}

/* Calendar Page */
.upcomingEventsTableContainer {
    height: 200px;
    overflow-y: auto;
}

/**************************************************************************************
 Items
 **************************************************************************************/

.removeButtonStyles {
    border: none;
    background: none;
}

/**************************************************************************************
 Images 
 **************************************************************************************/

.accountDiv div {
    padding-right: .5rem;
}

.accountIconImage {
    width: 35%;
    border-radius: 50%;
}

.navSVG {
    width: 25px;
    height: 25px;
}

/* Family Page */

.profilePic {
    width: 50%;
    border-radius: 95%;
}

.familyCardModalProfilePic {
    border-radius: 10%;
    width: 50%;
}

.familyCard img {
    padding: 5px;
}