:root {}


/* GENERAL CLASSES */
.noMargin {
    margin: 0;
}

/***************************************************************************************
 Typography 
 ***************************************************************************************/

/* General Typography */

/* color rgba(195, 82, 20) */
h1,
h2,
h3,
h4,
h5 {
    font-family: "Cormorant", serif;
}

p,
ul,
li,
th,
td,
label,
.dt-input {
    font-family: "Open Sans", sans-serif;
}

/* Individual Styles */
h1 {
    font-size: 75px;
    margin: 0;
}

h2 {
    font-size: 45px;
    margin: 0;
}

h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

li {
    font-size: 18px;
}

ul {
    list-style-type: none;
}

ul a {
    text-decoration: none;
}

ul a li p {
    font-family: "Cormorant", serif;
    font-size: 12px;
    color: black;
}

p {
    line-height: 1.5rem;
    font-size: 15px;
}

.thinText {
    font-weight: normal;
}

.reminderBadge a {
    text-decoration: none;
    color: white;
}

.relation {
    font-style: italic;
    font-size: 15px;
}

.card-title {
    margin-bottom: 0;
}

.card-small-text {
    font-size: 12px;
}

/* Shapes */
.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

.unavailable {
    background-color: red;
}

.available {
    background-color: green;
}

.unknown {
    background-color: gray;
}

/**************************************************************************************
 Section Styles 
 *****************************************************************************************/

main {
    margin: 8rem 0;
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    gap: 3rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(238, 237, 237);
}

.logo {
    display: flex;
    align-items: center;
}

.accountDiv {
    text-align: right;
}

.accountDiv p {
    margin: 0;
}

nav {
    background-color: rgb(238, 237, 237);
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

/* Media Query Section Styles */
@media screen and (width >=768px) {
    .phonescreen {
        max-width: 400px;
        margin: 1rem auto;
        overflow: hidden;
        border: black solid 3px;
        position: relative;
        border-radius: 1rem;
    }

    .fixed-bottom {
        position: absolute;
        right: auto;
        left: auto;
        width: 394.44px;
    }

    .fixed-top {
        position: absolute;
        right: auto;
        left: auto;
        width: 394.44px;
    }

}

/* FAMILY PAGE */

.addNewCard {
    display: flex;
    align-items: center;
    margin: 3.3rem;
}

.familyCardContainer {
    display: flex;
    gap: 1rem;
}

.card {
    box-shadow: 3px 5px rgba(202, 201, 201, 0.284);
    flex: 1 0 150px;
}


.card-body {
    border-bottom: solid gray 1px;
}

.card-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 8px;
}

.card-icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.card-me {
    flex-flow: row;
}

.card-me .card-body {
    border-bottom: none;
}

.card-body-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.cardMeContent {
    padding: 1rem;
}

.editProfile {
    display: flex;
    gap: 5px;
    justify-content: end;
    padding: 10px;
}

.homepage_ToDo {
    background-color: rgb(222, 222, 222);
}

/* MODAL STYLES */
.familyModalSection_cols_1 {
    border-bottom: gray solid 1px;
    padding-bottom: .5rem;
    width: 100%;
}

.familyModalSection_cols_2 {
    display: flex;
    justify-content: space-between;
    border-bottom: gray solid 1px;
    padding-bottom: .5rem;
    width: 100%;
}

.availableDiv {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.availableCardDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: .5rem;
}

.scheduleDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.familyCardModalProfilePicDiv {
    display: flex;
    justify-content: space-around;
}

#map {
    height: 180px;
}

/* Map Page */
.mapPerson {
    padding-left: 10px;
    margin-bottom: 1rem;
}

/**************************************************************************************
 Items
 **************************************************************************************/

.removeButtonStyles {
    border: none;
    background: none;
}

/**************************************************************************************
 Images 
 **************************************************************************************/

.accountDiv div {
    padding-right: .5rem;
}

.accountIconImage {
    width: 35%;
    border-radius: 50%;
}

.logo img {
    width: 25%;
}

/* Family Page */

.profilePic {
    width: 50%;
    border-radius: 95%;
}

.familyCardModalProfilePic {
    border-radius: 10%;
}